name: Actions Workflow

on: [push]

jobs: 
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: Simple JS Action
        id: greet
        uses: actions/hello-world-javascript-action@main
        with: 
          who-to-greet: Adam
      - name: Log Greeting Time
        run: "${{ steps.greet.outputs.time }}"

